# Service account JSON file path
# GOOGLE_APPLICATION_CREDENTIALS=credentials.json
# ID of the spreadsheet
# SPREADSHEET_ID=1hTORs7mvS0BzmhWCTtIh4sornm7dK4K-CI1HKOGoGwI
# The range/sheet name
# SHEET_RANGE=Freshdesk_data